<mat-nav-list class="sidebar">
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/inventory" routerLinkActive="active">
    <mat-icon>inventory_2</mat-icon>
    <span>Inventario</span>
  </a>
  <a mat-list-item routerLink="/movements" routerLinkActive="active">
    <mat-icon>sync_alt</mat-icon>
    <span>Movimientos</span>
  </a>
 <!--
  <a mat-list-item routerLink="/alerts" routerLinkActive="active">
    <mat-icon>notifications</mat-icon>
    <span>Alertas</span>
  </a>
 -->
  <a mat-list-item routerLink="/reports" routerLinkActive="active">
    <mat-icon>bar_chart</mat-icon>
    <span>Reportes</span>
  </a>
</mat-nav-list>
<!-- IGNORE -->