.login-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, #1976d2 0%, #1565c0 100%);
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  background: white;
  text-align: center;
}

.login-header {
  margin-bottom: 20px;
}

.login-header mat-icon {
  font-size: 50px;
  color: #1976d2;
  margin-bottom: 10px;
}

.login-header h1 {
  color: #1976d2;
  font-weight: bold;
  margin: 0;
}

.login-header p {
  color: #999;
  font-size: 14px;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

button.full-width {
  height: 45px;
  font-size: 16px;
  font-weight: bold;
}

.toggle-btn {
  margin-top: 15px;
  color: #1976d2;
  font-weight: 600;
}

.roles-text {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* ====== LOGO ====== */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logo-container img {
  max-width: 160px; /* evita que se estire demasiado */
  height: auto;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}
