<mat-toolbar class="navbar">
  <div class="navbar-left">
    <button mat-icon-button (click)="toggleSidenav()" matTooltip="Menú" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="navbar-brand">
      <div class="brand-icon">
        <span>📦</span>
      </div>
      <div class="brand-text">
        <span class="brand-name">InventarioPRO</span>
        <span class="brand-tag">Sistema Inteligente</span>
      </div>
    </div>
  </div>

  <div class="navbar-center">
    <span class="title">Panel de Control</span>
    <span class="subtitle">Bienvenido a InventarioPRO</span>
  </div>

  <div class="navbar-right">
    <div class="user-chip">
      <div class="user-avatar" [ngClass]="avatarClass">{{ avatarText }}</div>
      <div class="user-info">
        <span class="user-name">{{ userName }}</span>
        <span class="user-role">{{ userRoleLabel }}</span>
      </div>
      <button mat-icon-button matTooltip="Cerrar sesión" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
